table{
    font-size: 30px;
    border: 1px solid black;
    text-align: center;
    margin: 10px 600px ; 
    width: 800px;
}
._der{
    width: 150px;
    text-align: left;
    padding-left: 10px;
}
._ancho{
    width: 155px;
    
}
._ancho1{
    width: 130px;
}
td{
    font-size: 25px;
    background-color: gainsboro;
    border: 1px solid black;  
    padding: 5px 22px 5px 22px;
}
th{
    color: white;
    background-color: gray;
    text-align: center;
    padding: 5px 120px;
    border: 1px solid black; 
}
h2{
    text-align: center;
}


